@model List<DavidProjekt.Data.Models.Subscription>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .main-header {
        background: #010E21;
    }
</style>
<div class="listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Left content -->
            <!-- Right content -->
            <div class="col-md-12">
                <!-- listing Details Stat-->
                <div class="listing-details-area">
                    <div class="container">
                        <div class="row">
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-6 ">
                                        <div class="single-listing mb-30">
                                            <div class="list-img">
                                                <img src="/files/@item.Course.ImageUrl" alt="">
                                                <!-- <span>Open</span> -->
                                            </div>
                                            <div class="list-caption">

                                                <h3>@item.Course.Title<a class="btn btn-default" href="/course/details/@item.CourseId">Open</a> </h3>


                                                <p>@item.Course.Description</p>
                                                <div class="list-footer">
                                                    <ul>
                                                        <li>Video count: @item.Course.Lectures.Count</li>
                                                        <li>@item.Course.Tags</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }

                        </div>
                    </div>
                </div>
                <!-- listing Details End -->

            </div>
        </div>
    </div>
</div>
